In [ ]:
import matplotlib.pyplot as plt


cells = [[0] for _ in range(12)]


def D(t):
    if t <= 0:
        return 0
    elif t <= 120:
        return 8
    elif t <= 280:
        return 4
    else:
        return 0


C = 6
S = 6


for t in range(1, 360):
        
    


# Subplot with entry, exit on top
# and the cumulative number arriving and departing on the bottom

SyntaxError: incomplete input (3538708888.py, line 31)

In [12]:
# Doing it with a DataFrame
import pandas as pd

df = pd.DataFrame()
df['timestep'] = range(1, 360)
df['demand'] = [D(t) for t in range(1, 360)]
df['arrival'] = None
df['ready_depart'] = None
df['dep_flow'] = None
df['departure'] = None

df

     timestep  demand arrival ready_depart dep_flow departure
0           1       8    None         None     None      None
1           2       8    None         None     None      None
2           3       8    None         None     None      None
3           4       8    None         None     None      None
4           5       8    None         None     None      None
..        ...     ...     ...          ...      ...       ...
354       355       0    None         None     None      None
355       356       0    None         None     None      None
356       357       0    None         None     None      None
357       358       0    None         None     None      None
358       359       0    None         None     None      None

[359 rows x 6 columns]